========= orange used rgba(255,152,0 ,1) ==== gray used rgba(96,125,139 ,0.8) ====


.navbar {
    position: relative;
}

.navbar-styled{
	background-image: -moz-linear-gradient(top left, #FF9800 0%, #607D8B 100%);
	margin-bottom: 0px !important;
}

.navbar-styled:hover{
	background-color:rgba(96,125,139 ,0.8);
}

.navbar-styled a{
	color:Black;
	font-weight: normal;
}

.btn-styled{
	width: 80px;
	color:rgba(98,40,110, 0.9);
	background-color: white;
}

.brand {
    position:absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.cover{
	background-image: -moz-linear-gradient(top left, #FF9800 0%, #607D8B 100%);
	height: 400px;
	color:white;
}


#footer{
	background-image: -moz-linear-gradient(top left, #607D8B 0%, #FF9800 100%);
	
}

fieldset {
  overflow: hidden
}

.some-class {
  float: left;
  clear: none;
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 0 0;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}

#separator{
	color:rgba(255,152,0 ,1);
}

.highlightedtext{
	font-size: 48px;
}

.subhighlighted{
	padding-top: 4%;
	font-size:36px;
}

.btn-styled{
	color:rgba(255,152,0 ,1);
	background-color: white;
}

.btn-styled:hover{
	background-color:rgba(96,125,139 ,0.8);
	color: white;
}
.btn-styled2{
	background-color:rgba(255,152,0 ,1);
	color: white;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.subject-link {
	margin-top: 10%;
}

.subject-link li{
	font-size: 24px;
	padding: 5%;
}

.session-card{
	position:center;
	margin-left: 30%;
	margin-top: 20%;
	width: 400px;
	background-color: #f2f2f2;
	border: 1px solid rgba(255,255,0 ,1);
	padding: 1%;
	
}
.session-card a{
	margin-bottom:5%;
}


.footlinks li a{
  color:white;
}

.col-md-3{
	
}